@model IEnumerable<ebookshopping.Models.book>

@{
    ViewData["Title"] = "catalogue";
}

@{Layout = "~/Views/Shared/_Layout1.cshtml";}
<style>
       

   
        body {
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDp9srtcWx0g4f6Ulf_1R6L5sSGEXNo0ckIw&usqp=CAU');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
<body>
<h1><b>Catalogue</b></h1>

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        @item.title
                    </div>
                    <div class="card-body">
                        <img src="~/images/@item.imgfile" height="150" /> <br/>
                        price:@item.price
                    </div>
                    <div class="card-footer">
                         <a asp-controller="orders" asp-action="Create" asp-route-id="@item.Id">Buy</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
</body>