
@model ebookshopping.Models.book

<h1>Logged out Successfully</h1>

<body>


 <div class="container mb-5">
    <a href="~/useraccountsccounts/login" class="btn btn-success">LOGIN</a>
</div>
</body>

